<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Space+Mono&display=swap"> 
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap"> 
  <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">   
  <link rel="stylesheet" type="text/css" href="{{ "/assets/css/skin.css" | relative_url}}">
  <link rel="stylesheet" type="text/css" href="{{ "/assets/css/github-markdown.css" | relative_url}}">
  <link rel="stylesheet" type="text/css" href="{{ "/assets/css/code-highlighting.css" | relative_url}}">
  <link rel="stylesheet" type="text/css" href="{{ "/assets/css/text-highlighting.css" | relative_url}}">
</head>
