<header class="skin">
  <div>
    <span class="boxing1">CSE1500</span>
    <br />
    <span class="boxing2 boxing3">W</span><span class="boxing2">e</span><span class="boxing2">b</span><span class="boxing2"> &nbsp;</span><span class="boxing2 boxing3">T</span><span class="boxing2">e</span><span class="boxing2">c</span><span class="boxing2">h</span><span class="boxing2">n</span><span class="boxing2">o</span><span class="boxing2">l</span><span class="boxing2">o</span><span class="boxing2">g</span><span class="boxing2">y</span>
    <br />
    <span class="preview"></span>
  </div>
</header>