:root {
    --nav-background: #303F9F;                                  /* dark primary */
    --nav-foreground: white;                                    /* text */
    --nav-link-color: #FF5252;                                  /* accent */
    --nav-list-icon: "✪ ";

    --footer-background: #1a237e;                               /* darker primary */
    --footer-foreground: white;                                 /* text */

    --header-foreground: white;                                 /* text */
    --header-main-box-color: rgba(26,35,126, 0.5);              /* dark primary */
    --header-highlight-box-color: rgba(140,158,255, 0.75);      /* light primary */
    --header-border: white;
    --header-preview-box-color: rgba(183,28,28, 0.75);          /* accent */

    --content-list-icon: "✪ ";
    --content-hX-underline: #303F9F;                            /* dark primary */
    --content-hX-color: #303F9F;                                /* dark primary */
    --content-link-color: #FF5252;                              /* accent */
    --content-table-bg-header: #212121;                         /* primary text */
    --content-table-fg-header: white;                           
    --content-table-row-alt: #C5CAE9;                           /* light primary */
    --content-link-before-icon: "⇗ ";
    --content-summary: #FF5252;                                 /* accent */
    --content-details: #ef9a9a;                                 /* lighter accent */
    --content-background: white;
    --content-text-color: #212121;                              /* primary text */

    --highlight-color: #ef9a9a;                                    
    --popup-color: rgb(48,63,159,0.8);                          /* dark primary */
    --highlight-info-background: #C5CAE9;                       /* light primary */
    --highlight-info-text: black;
    --delete-highlights-button-bg1: #ffcdd2;                    /* very light accent */
    --delete-highlights-button-bg2: #ef9a9a;                    /* lighter accent */
    --delete-highlights-button-border: #d50000;                 /* darker accent */
    --delete-highlights-button-text: #d50000;                   /* darker accent */

    --save-notes-button-bg1: #ffcdd2;
    --save-notes-button-bg2: #ef9a9a;
    --save-notes-button-border: #d50000;
    --save-notes-button-text: #d50000;

    --warning-bg-light: LightSalmon;
    --warning-bg-dark: tomato;
    --warning-font-color: FireBrick;
  }