:root {
    --nav-background: rgba(195, 49, 47);
    --nav-foreground: white;
    --footer-background: rgba(0, 58, 115);
    --footer-foreground: white;
    --header-foreground: white;
    --nav-link-color: rgba(241, 190, 62, 1);
    --nav-list-icon: "✪ ";
    --header-main-box-color: rgba(0, 58, 115, 0.5);
    --header-highlight-box-color: rgba(119, 211, 233, 0.75);
    --header-border: white;
    --header-preview-box-color: rgba(195, 49, 47, 0.75);
    --content-list-icon: "✪ ";
    --content-hX-underline: rgba(0, 58, 115);
    --content-hX-color: rgba(0, 58, 115);
    --content-link-color: rgba( 235, 114, 70 );
    --content-table-bg-header: rgba(195, 49, 47);
    --content-table-fg-header: white;
    --content-table-row-alt: rgba(195, 49, 47, 0.25);
    --content-link-before-icon: "⇗ ";
    --content-summary: rgba( 196, 31, 122 );
    --content-details: rgb(124, 20, 77);
  }