@import "personalizable.css";

/* https://www.bestcssbuttongenerator.com/#/32 */
#deleteHighlights {
	background:linear-gradient(to bottom, #f0c911 5%, #f2ab1e 100%);
	background-color:#f0c911;
	border-radius:6px;
	border:2px solid #e65f44;
	display:inline-block;
	cursor:pointer;
	color:#c92200;
	font-size:15px;
	padding:6px 24px;
	text-decoration:none;
    text-shadow:0px 1px 0px #ded17c;
    margin-top: 10px;
    margin-bottom: 10px;
}
#deleteHighlights:hover {
	background:linear-gradient(to bottom, #f2ab1e 5%, #f0c911 100%);
	background-color:#f2ab1e;
}
#deleteHighlights:active {
	position:relative;
	top:1px;
}



.text-highlighted::after {
    content: "✘";
    position: relative;
    top: -5px;
    right: 0px;
    color: var(--delete-x);
}

ul.text-highlighted-info {
    background-color: gainsboro;
    color: black;
    font-size: 90%;
    padding-right: 5px;
    display: none;
}

ul.text-highlighted-info li::before {
    content: "";
}

.text-highlighted-highlight {
    background-color: var(--highlight-color);
    color: black;
}