<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<body>

  {%- include header.html -%}

  <main>
    <nav class="skin">
      <ul>
        <li><a href="{{ "/" | relative_url}}">Course information</a></li>
        <li class="nothing">---</li>
        <li class="nothing">Assignments &amp; Practicing</li>
        <li class="nothing">---</li>
        {% assign sorted_practicals = site.practicals | sort:"ordering" %}
        {% for practical in sorted_practicals %}
        <li>
          <a href="{{ practical.url | relative_url}}">
            {{ practical.linkname }}
          </a>
        </li>
        {% endfor %}
        <li class="nothing">---</li>
        <li class="nothing">Lectures</li>
        <li class="nothing">---</li>
        {% assign sorted_lectures = site.lectures | sort:"ordering" %}
        {% for lecture in sorted_lectures %}
        <li>
          <a href="{{ lecture.url | relative_url}}">
            {{ lecture.linkname }}
          </a>
        </li>
        {% endfor %}
      </ul>

      <ul class="text-highlighted-info">
        <li><small>The course notes can be <span class="text-highlighted-highlight">✎ highlighted</span> (by selecting
            text). <span class="text-highlighted-highlight">Hovering</span> over a highlight opens a small popup for notes.
            A <span class="text-highlighted-highlight">double-click</span> on a highlight removes it. The highlights are persistent and stored in the browser's localStorage.
            <br />
            <button id="deleteHighlights">Delete all highlights on this page.</button>
          </small>
        </li>
      </ul>
    </nav>

    <section class="markdown-body">
      {{ content }}
      :hibiscus: :hibiscus: :hibiscus: <!-- indicates end of page -->
    </section>
    {%- include footer.html -%}
 
  </main>

  <div id="popup">
    <textarea id="popup-text"  placeholder="Add your notes here, don't forget to hit save!" cols="20" rows="10"></textarea>
    <br />
    <button id="popup-close">Save</button>
  </div>

  <!-- Default Statcounter code for CSE1500
https://chauff.github.io/Web-Teaching/ -->
  <script type="text/javascript">
    var sc_project = 12375957;
    var sc_invisible = 1;
    var sc_security = "67c15f41"; 
  </script>
  <script type="text/javascript" src="https://www.statcounter.com/counter/counter.js" async></script>
  <!-- End of Statcounter Code -->

  <script type="text/javascript" src="{{ "/assets/javascript/TextHighlighter.js" | relative_url}}"></script>
  <script type="text/javascript" src="{{ "/assets/javascript/utils.js" | relative_url}}"></script>

</body>

</html>